$primary   = #009fe3
$secondary = #26A69A
$tertiary  = #555

body {
  font-size: 16px;
}
// app global css
.legend-title {
  color: $secondary;
}
.css-form-item-page {
  margin: 5% 10%;
}
.css-form-items-page {
  margin: 3%;
}

.q-table th {
  font-size: 1em;
}

.q-table tbody td {
  font-size: 0.9em;
}

.q-if-standard .q-if-label.q-if-label-above, 
.q-if-inverted .q-if-label.q-if-label-above,
.q-table-dense .q-table th,
.q-item-side {
  color: $secondary;
  font-weight: 800;
}

.q-input-target, 
.q-input-shadow {
  color: #fff;
}

.row.input-login .q-input-target {
  color: #000;
}

.q-layout,
.q-table-container.fullscreen, {
  background-color: #435363;
}

.bg-side {
  background-color: #cedeef;
}
